<footer class="footer">
  <div class="container footer-container">
    <div class="footer-logo-text">
      <div class="footer-div">
        <svg class="footer-logo" width="20" height="20">
          <use href="/img/logo.svg"></use>
        </svg>
        <h2 class="footer-title">GREEN.HARVEST</h2>
      </div>
      <div class="footer-p">
        <p class="footer-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
    </div>
    <div class="footer-content">
      <ul class="footer-list">
        <li class="footer-item"><a href="#howitworks">how it works</a></li>
        <li class="footer-item"><a href="#vegetables">vegetables</a></li>
        <li class="footer-item"><a href="#reviews">reviews</a></li>
      </ul>
    </div>
       <div class="footer-address-phone">
      <address class="footer-address">
        <a class="footer-phone" href="tel:+380684439426"
          >+380 (68) 443-94-26</a
        >
        <br />
        1678 S. Pioneer Road Salt <br />
        Lake City UT 84104 <br />
       </address>
      </div>
    </div>
    <div class="container footer-container">
      <p class="footer-policy">Privacy Policy  /  Cookie settings</p>
      <p class="footer-Harvest">©Green Harvest 2023</p>
    </div>
  </div>
</footer>
