<header class="page-header">
  <div class="container header-container">
    <nav class="nav-header">
      <a class="logo header-logo" href="./index.html">
        <svg class="logo-icon" width="216" height="20">
          <use href="../img/sprite.svg#logo"></use>
        </svg>
      </a>
      <div class="header-wrap">
        <ul class="nav-list">
          <div class="hed-nav">
            <li class="nav-item-header">
              <a class="nav-link-header" href="#anchors">How It Works</a>
            </li>
            <li class="nav-item-header">
              <a class="nav-link-header" href="#anchors">Vegetables</a>
            </li>
            <li class="nav-item-header">
              <a class="nav-link-header" href="#anchors">Reviews</a>
            </li>
          </div>
          <li class="nav-item-btn">
            <a class="nav-link-btn" href="#anchors">Shop now</a>
          </li>
        </ul>
      </div>
    </nav>

    <button class="burger-btn" type="button" data-menu-open>
      <svg class="burger-icon" width="32" height="32">
        <use href="../img/sprite.svg#menu"></use>
      </svg>
    </button>
  </div>
  <!-- Mobile-tablet menu -->
  <div class="mobile-tablet-menu is-open" data-menu>
    <div class="container tablet-menu-container">
      <button class="tablet-menu-close" type="button" data-menu-close>
        <svg class="tablet-menu-icon" width="32" height="32">
          <use href="../img/sprite.svg#close"></use>
        </svg>
      </button>
      <nav class="tablet-menu-nav">
        <ul class="tablet-nav-list">
          <div class="tablet-nav">
            <li class="nav-item-menu">
              <a class="nav-mobile-link" href="#anchors">How It Works</a>
            </li>
            <li class="nav-item-header">
              <a class="nav-mobile-link" href="#anchors">Vegetables</a>
            </li>
            <li class="nav-item-header">
              <a class="nav-mobile-link" href="#anchors">Reviews</a>
            </li>
          </div>
          <li class="mob-btn-nav">
            <a class="nav-mob-tab-btn" href="#anchors">Shop now</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<script src="../js/menu.js"></script>
