<header class="page-header">
  <div class="container header-container">
    <nav class="nav-header">
      <a class="logo header-logo" href="./index.html">
        <svg class="logo-icon" width="216" height="20">
          <use href="../img/sprite.svg#logo"></use>
        </svg>
      </a>
      <div class="header-wrap">
        <ul class="nav-list">
          <div class="hed-nav">
            <li class="nav-item-header">
              <a class="nav-link-header" href="#anchors">How It Works</a>
            </li>
            <li class="nav-item-header">
              <a class="nav-link-header" href="#anchors">Vegetables</a>
            </li>
            <li class="nav-item-header">
              <a class="nav-link-header" href="#anchors">Reviews</a>
            </li>
          </div>
          <li class="nav-item-btn">
            <a class="nav-link-btn" href="#anchors">Shop now</a>
          </li>
        </ul>
      </div>
    </nav>

    <button class="burger-btn" type="button" data-menu-open>
      <svg class="burger-icon" width="32" height="32">
        <use href="../img/sprite.svg#menu"></use>
      </svg>
    </button>
  </div>
</header>
