 <header class="page-header" id="home">
      <div class="container header-container">
        <nav class="nav-header">
          <a class="logo header-logo" href="./index.html">
            <svg class="logo-first" width="20" height="20">
              <use href="./icons.cvg/symbol.svg#icon-vector"></use>
            </svg>
            <svg class="logo-second" width="188" height="17">
              <use href="./icons.cvg/symbol.svg#icon-logo"></use>
            </svg>
          </a>
          <div class="header-wrap">
            <button class="btn btn-works" type="button">How It Works</button>
            <button class="btn btn-veg" type="button">Vegetables</button>
            <button class="btn btn-rev" type="button">Reviews</button>
          </div>
          <button class="btn btn-header" type="button">Shop now</button>
        </nav>
      </div>
    </header>
