<!-- Section2 HawItWorks -->

<section class="how-it-works-section">

    <div class="works-wrapper container">
  
      <picture class="works-img">
          <source
            srcset="
             ./src/img/how-it-works/girl-desk@1x.png 1x,
             ./src/img/how-it-works/girl-desk@2x.png 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./src/img/how-it-works/girl-tab@1x.png 1x,
              ./src/img/how-it-works/girl-tab@2x.png 2x
            "
            media="(min-width: 768px)"
          />
  
          <img
          srcset="
          ./src/img/how-it-works/girl-mob@1x.png 1x,
          ./src/img/how-it-works/girl-mob@2x.png 2x
          "
          src="./src/img/how-it-works/girl-mob@1x.png"
          alt="Woman is making a fresh smoothie"
        />
        </picture>
  
    </div>
  
  
    <div class="works-container container ">
  
        <h2 class="visually-hidden">How it works</h2>
  
          <div class="works-box section" >
  
          <h3 class="works-title title">
            To order your <span class="works-span">vegetable</span>  basket, simply follow these <span class="works-span">easy steps</span> 
          </h3>
  
          <p class="works-paragraf">
            Our baskets are assembled with care and delivered straight to your
            doorstep, so you can enjoy the taste of fresh fruit without ever
            leaving your home.
          </p>
  
          <ol class="works-list">
  
            <li class="works-item">
  
              <p class="works-item-text">
                Just choose <span class="bold-accent">the vegetable</span>  you want to order by clicking on the
                checkboxes <span class="bold-accent">next to it.</span> 
              </p>
  
            </li>
  
            <li class="works-item">
  
              <p class="works-item-text">
                Click on <span class="bold-accent">the basket</span>  and fill out the form.
              </p>
  
            </li>
  
            <li class="works-item">
  
              <p class="works-item-text">
                Sit back and relax! Your <span class="bold-accent">fresh vegetables</span>  basket will be delivered.
              </p>
  
            </li>
          </ol>
          </div>
    </div>
  </section>