<section section class="veg">
        <div class="container">
             <h2 class="veg-head">organic vegetables</h2>
         <p class="veg-paragraph">Our organic vegetables are hand-picked 
            from local farms and delivered straight to your doorstep, ensuring that you get the freshest 
            and most nutritious produce possible.</p>
            <ul class="veg-item-head">
                 <li class="veg-list-item">
                     <h3 class="veg-list-item-head">eggplant</h3>
                     <p class="veg-list-item-par">60 USD / kg</p>
                 </li>
                 <li class="veg-list-item"> 
                     <h3 class="veg-list-item-head">leek</h3>
                     <p class="veg-list-item-par">50 USD / kg</p>
                 </li>
                 <li class="veg-list-item">
                     <h3 class="veg-list-item-head">mushrooms</h3>
                        <p class="veg-list-item-par">40 USD / kg</p>
                 </li>
                 <li class="veg-list-item">
                     <h3 class="veg-list-item-head">corn</h3>
                        <p class="veg-list-item-par">60 USD / kg</p>
                 </li>
                 <li class="veg-list-item">
                     <h3 class="veg-list-item-head">sweet potatoes</h3>
                        <p class="veg-list-item-par">50 USD / kg</p>
                 </li>
                 <li class="veg-list-item">
                     <h3 class="veg-list-item-head">carrot</h3>
                     <p class="veg-list-item-par">40 USD / kg</p>
                 </li>
            </ul>
        </div>
        </section>
   


