<section class="your-order">
  <div class="container your-order-container">
    <div class="title-container">
      <h2 class="your-order-title title">
        Fresh <span class="title-span">Harvest</span> Box has got you covered
      </h2>
      <p class="your-order-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div class="form-container">
      <h3 class="form-title title">
        Ordering <span class="from-us">from us</span> is quick and easy! Fill
        out <span class="the-form">the form</span> below and we will contact you
        !
      </h3>

      <form class="form">
        <input
          type="text"
          id="user-name"
          name="user_name"
          placeholder="Full Name"
          class="form-input"
          required
        />
        <input
          type="email"
          id="user-email"
          name="user_email"
          placeholder="Email"
          class="form-input"
          required
        />
        <textarea
          id="user_comment"
          name="user_comment"
          rows="10"
          placeholder="Comment"
          class="form-input comment-input"
        >
        </textarea>
        <button type="submit" class="form-btn btn">Send</button>
      </form>
    </div>
    <div class="img-container">
      <div class="img-box"></div>
      <p class="img-container-text">Follow us on our social networks:</p>
      <ul class="img-container-social-media">
        <li>
          <a href="https://www.instagram.com/" target="_blank">Instagram</a>
        </li>
        <li>/</li>
        <li>
          <a href="https://www.facebook.com/" target="_blank">Facebook</a>
        </li>
        <li>/</li>
        <li><a href="https://www.youtube.com/" target="_blank">Youtube</a></li>
      </ul>
    </div>
  </div>
</section>
