/* advertisement */
.advertisement {
}
.advertisement-text {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: black;
}
.advertisement-slogan {
  color: #fbfbfb;
  background-color: #576f35;
  display: inline-flex;
  border-radius: 12px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .advertisement-text {
    color: black;
    min-width: 704px;
    font-weight: 600;
    font-size: 64px;
    line-height: 1;
    letter-spacing: -0.01em;
  }
  .advertisement-slogan {
    min-height: 86px;
    min-width: 675px;
    align-items: flex-end;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .advertisement-text {
    color: black;
    min-width: 1054px;
    min-height: 228px;
    font-size: 76px;
    line-height: 1;
  }
  .advertisement-slogan {
    align-items: center;
  }
  .advertisement-desktop {
    display: block;
  }
}
