/* #region HEADER */

.page-header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;

  background-color: transparent;
  /* background-color: #460202; */
}

.header-container {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .header-container {
    padding-top: 32px;
  }
}
@media only screen and (min-width: 1158px) {
  .header-container {
    position: relative;
  }
}

.nav-header {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 1158px) {
  .nav-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-logo {
  display: block;
  padding: 8px 0;
}
@media only screen and (min-width: 768px) {
  .header-logo {
    padding: 10px 0;
  }
}
@media only screen and (min-width: 1158px) {
  .header-logo {
    padding: 16px 0;
  }
}

.logo-icon {
  width: 168px;
  height: 16px;
  display: block;
}
@media only screen and (min-width: 768px) {
  .logo-icon {
    width: 216px;
    height: 20px;
  }
}

.nav-list {
  display: none;
}
@media only screen and (min-width: 1158px) {
  .nav-list {
    display: flex;
    align-items: center;
  }
}

@media only screen and (min-width: 1158px) {
  .hed-nav {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .lust-element {
    margin-right: 20px;
  }
  .nav-link-header {
    border: 1px solid var(--color-white-text);
    border-radius: 12px;
    padding: 12px;
    width: 83px;
    height: 44px;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: var(--color-white-text);
  }
  .nav-link-shop {
    border-radius: 30px;
    padding: 16px 32px;
    min-width: 157px;
    background-color: var(--color-primary-brand);
    font-weight: 600;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.01em;
    color: var(--color-white-text);
  }
  .nav-link-header:hover {
    color: var(--color-primary-brand);
    background-color: var(--color-accent);
    border: 1px solid var(--color-accent);
  }

  .nav-link-header:active {
    color: var(--color-primary-brand);
    background-color: var(--color-white-text);
    border: 1px solid var(--color-white-text);
  }
  .nav-link-btn:hover {
    color: var(--color-primary-brand);
    background-color: var(--color-accent);
    border: 1px solid var(--color-accent);
  }

  .nav-link-btn:active {
    color: var(--color-primary-brand);
    background-color: var(--color-white-text);
    border: 1px solid var(--color-white-text);
  }
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 32px;
  height: 32px;
}
@media only screen and (min-width: 768px) {
  .burger-btn {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 1158px) {
  .burger-btn {
    display: none;
  }
}

.burger-icon {
  display: block;
  stroke-width: 3px;
  stroke: var(--color-white-text);
  fill: none;
  width: 32px;
  height: 32px;
}
@media only screen and (min-width: 768px) {
  .burger-icon {
    width: 40;
    height: 40;
  }
}

/* #endregion */
