


.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: rgba(20, 20, 20, 0.4);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

@media screen and (min-width: 1280px) {
    .mobile-menu {
        display: none;
    }
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
 
.mobile-menu-container {
    position: fixed;
    padding-top: 296px;
    padding-bottom: 52px;
    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #576f35;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .mobile-menu-container {
        padding-top: 360px;
        padding-bottom: 48px;
        width: 45%;
        right: 0;
        left: auto;

    }
}
.mobile-menu:not(.is-open) .mobile-menu-container {
    transform: translate(100%);
}

.mobile-btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: transparent;
}

@media screen and (min-width: 768px) {
    .mobile-btn-close {
        top: 32px;
        right: 32px;        
    }
}

.mobile-close-icon {
    stroke-width: 3px;
    stroke: #fbfbfb;
    width: 32px;
    height: 32px;
}

@media screen and (min-width: 768px) {
    .mobile-close-icon {
        stroke-width: 4px;
        width: 40px;
        height: 40px;
    }
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
}

.mobile-nav-link {
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    align-items: center;

    color: #fbfbfb;
    background-color: transparent;

    border: 1px solid #fbfbfb;
    border-radius: 12px;

    width: 118px;
    padding-top: 11px;
    padding-bottom: 11px;
    display: flex;
    justify-content: center;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .mobile-nav-link {
        font-size: 16px;
        line-height: 1.25;
        width: 123px;
    }
}

.mobile-nav-link:active {
    color: #7a3145;
    background-color: #fbfbfb
}

.mobile-shop-link {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-align: center;
    text-transform: uppercase;

    color: #fbfbfb;
    background-color: #7a3145;
    border: none;
    border-radius: 30px;

    width: 175px;
    padding-top: 16px;
    padding-bottom: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .mobile-shop-link {
        width: 157px;
    }
}

.mobile-shop-link:active {
    color: #7a3145;
    background-color: #fbfbfb
}