.title-green {
  color: #576f35;
}
.reviews-title {
  max-width: 335px;
  color: #141414;
}
.reviews-subtitle {
  max-width: 335px;
  font-size: 14px;
  line-height: 143%;
  color: #141414;
  margin-bottom: 40px;
}
.reviews-item {
  border: 1px solid #d4bfc4;
  border-radius: 24px;
  padding: 20px 16px;
  width: 335px;
}
.reviews-item:not(:first-child) {
  display: none;
}
.reviews-img {
  margin: 0 auto 24px;
}
.reviews-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #141414;
  margin-bottom: 8px;
}
.reviews-text {
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #858585;
}
.reviews-dots {
  display: flex;
  gap: 20px;
  margin-top: 28px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  flex-shrink: 0;
}
.dot {
  all: unset;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d4bfc4;
  border: none;
  transition: 250ms ease-in-out;
  transition-property: background-color;
}
.dot.active {
  background-color: #576f35;
}

@media only screen and (min-width: 768px) {
  .reviews-title {
    max-width: 553px;
  }
  .reviews-subtitle {
    max-width: 553px;
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 52px;
  }
  .reviews-list {
    display: flex;
    gap: 24px;
  }
  .reviews-item {
    padding: 20px;
    width: 340px;
  }
  .reviews-item:not(:last-child) {
    display: block;
  }
  .reviews-text {
    font-size: 16px;
    line-height: 125%;
  }
}

@media only screen and (min-width: 1280px) {
  .reviews-item {
    width: 344px;
  }
  .reviews-item:last-child {
    display: block;
  }
  .dot {
    display: none;
  }
}

@media only screen and (max-width: 1279px) {
  .dot {
    display: block;
  }
}
