.vegetables {
  background: var(--color-primary-brand);
}
.vegetables-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.veg-head {
  color: var(--color-white-text);
  align-self: flex-start;
  max-width: 508px;
}

.veg-span {
  color: var(--color-accent);
}
.veg-paragraph {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: var(--color-white-text);
  max-width: 626px;
  margin-bottom: 40px;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .veg-paragraph {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 52px;
  }
}
.veg-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  .veg-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 28px;
    column-gap: 24px;
  }
}
.veg-item {
  width: 100%;
  border-radius: 40px;
  padding: 32px 24px;
  background: var(--color-white-text);
}
@media only screen and (min-width: 768px) {
  .veg-item {
    width: calc((100% - 24px) / 2);
    padding: 32px 30px;
  }
}
@media only screen and (min-width: 1280px) {
  .veg-item {
    width: calc((100% - 2 * 24px) / 3);
    padding: 32px 32px;
  }
}
.veg-item-head {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--color-primary-brand);
  margin-bottom: 12px;
}
@media only screen and (min-width: 768px) {
  .veg-item-head {
    font-size: 32px;
  }
}
.veg-item-price {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: var(--color-black-text);
  margin-bottom: 12px;
}
@media only screen and (min-width: 768px) {
  .veg-item-price {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media only screen and (min-width: 1280px) {
  .veg-item-price {
    margin-bottom: 8px;
  }
}
