.your-order {
  background-color: var(--color-green-background);
}
.your-order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1280px) {
  .your-order-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.title-container {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .title-container {
    align-self: flex-start;
    width: 640px;
    margin-bottom: 52px;
  }
}
@media (min-width: 1280px) {
  .title-container {
    width: 751px;
  }
}
.your-order-title {
  color: var(--color-white-text);
}
.title-span {
  color: var(--color-accent);
}
.your-order-text {
  font-size: 14px;
  line-height: 1.43;
  color: var(--color-white-text);
}
@media (min-width: 768px) {
  .your-order-text {
    font-size: 16px;
    line-height: 1.25;
  }
}
.form-container {
  border-radius: 30px;
  padding: 40px 20px;
  background-color: var(--color-white-text);
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .form-container {
    padding: 72px 100px;
    margin-bottom: 32px;
  }
}
@media (min-width: 1280px) {
  .form-container {
    display: inline-block;
    vertical-align: top;
    border: none;
    padding: 52px 48px;
    max-width: 524px;
  }
}
.form-title {
  font-size: 28px;
  color: var(--color-black-text);
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .form-title {
    font-size: 32px;
    margin-bottom: 52px;
    width: 440px;
  }
}
@media (min-width: 1280px) {
  .form-title {
    font-size: 32px;
    width: 428px;
  }
}
.from-us {
  color: var(--color-primary-brand);
}
.the-form {
  color: var(--color-green-background);
}
.order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-input {
  width: 100%;
  outline: none;
  font-family: inherit;
  border: 1px solid var(--—Åolor-details);
  background-color: transparent;
  border-radius: 30px;
  padding: 14px 16px;
  height: 48px;
  font-size: 14px;
  line-height: 1.43;
  color: var(--color-black-text);
  transition: border-color 250ms ease-in-out;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .form-input {
    height: 52px;
    font-size: 16px;
    line-height: 1.25;
  }
}
.form-input::placeholder {
  color: var(--color-black-text);
}
.comment-input {
  height: 92px;
  border-radius: 15px;
  overflow-x: hidden;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .comment-input {
    height: 96px;
  }
}
.form-input:not(:placeholder-shown):valid {
  border-color: var(--color-success-state);
}
.form-input:not(:placeholder-shown):invalid {
  border-color: var(--color-error-state);
}
.form-input:placeholder-shown {
  border-color: var(--color-details);
}
.form-input:focus {
  border-color: var(--color-primary-brand);
}
.form-btn {
  width: 100%;
  color: var(--color-white-text);
}
.form-btn:hover,
.form-btn:focus {
  color: var(--color-primary-brand);
  background-color: var(--color-white-text);
}
@media (min-width: 1280px) {
  .form-btn:hover,
  .form-btn:focus {
    color: var(--color-primary-brand);
    background-color: var(--color-accent);
  }
  .form-btn:active {
    background-color: var(--color-white-text);
  }
}
.img-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-brand);
  border-radius: 30px;
  padding: 40px 20px;
}
@media (min-width: 768px) {
  .img-container {
    padding: 52px;
    width: 640px;
  }
}
@media (min-width: 1280px) {
  .img-container {
    padding: 52px 48px;
    width: 524px;
    margin: 0;
  }
}
.img-box {
  border-radius: 15px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .img-box {
    margin-bottom: 52px;
  }
}
@media (min-width: 1280px) {
  .img-box {
    margin-bottom: 80px;
  }
}
.img-container-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  color: var(--color-accent);
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .img-container-text {
    font-size: 16px;
    line-height: 1.25;
  }
}
.img-container-social-media-list {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .img-container-social-media {
    gap: 12px;
    flex-wrap: nowrap;
  }
}
.img-container-social-media-item {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--color-white-text);
}
.img-container-social-media-link {
  cursor: pointer;
}

.img-container-social-media-item::after {
  content: '/';
  margin-left: 12px;
  margin-right: 12px;
  font-size: 18px;
  font-weight: 600;
}
.img-container-social-media-item:last-child::after {
  display: none;
}
